<!DOCTYPE html>
<html ng-app="loginApp">
<head>
	<title>Game</title>
	<script type="text/javascript" src= "{{url_for('static', filename='scripts/angular.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='scripts/login.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}" />
</head>
<body ng-controller="LoginCtrl as ctrl">
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			
			<form name="loginForm" action="/login" method="POST" class="form" ng-submit="ctrl.submit()">
				<input type="text" name="uname" ng-model="ctrl.user.name" placeholder="Username" required ng-minlength="4" />
				<span ng-show="loginForm.uname.$error.required">This is a required field</span>
				<span ng-show="loginForm.uname.$error.minlength">Minimum length is 4</span>
				<input type="password" name="pwd" ng-model="ctrl.user.password" placeholder="Password" required />
				<button type="submit" id="login-button" >Login</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

	
	</div>

	<script type="text/javascript">
		angular.module('loginApp', [])
			.controller('LoginCtrl', [ function () {
				// var self = this;
				// self.submit = function () {
				// 	// body...
				// 	console.log(self.user);
				// }
			}]);
	</script> 
</body>
</html>